body{
	background: url('../img/bg2.jpg') no-repeat center center fixed;
	-webkit-backround-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.centrera{
	text-align: center;
}
.padded{
	padding: 5px;
}
.bright{
	background-color: #aaa;
	color:#000;
	border-radius: 5px;
}
.mh40{
	max-height: 40px;
}
.h400{
	height:400px;
}
.mt45{
	margin-top: 45px;
}
.mb45{
	margin-bottom: 45px;
}
.logga{
	margin-top: -4px;
}
.postcontainer{
	border-radius: 5px;
	background-color: #eee;
	margin-bottom: 10px;
}
.sidebar{
	border-radius: 5px;
	background-color: #eee;
}
.footer{
	margin-top: 10px;
}